#page2 {
    min-height: 100vh;
    width: 100%;
    
    padding: 5vw 3vw;
}

#moving-text {
    padding-top: 6vw;
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;

}

.gola {
    margin: 1vw 3vw;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe330a;
    display: inline-block;
}

.con {
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#bottom {
    border-radius: 10px;
    width: 100%;
    height: 110vh;
    margin-top: 7vw;
    display: flex;
    align-items: flex-start;
    background-color: #efeae3ee;
    justify-content: space-between;
    padding: 4vw;
    position: relative;
    z-index: 999;

}

#heading-part {
    position: relative;
}

#heading-part h1 {
    position: absolute;
    width: 60%;
    font-size: 4vw;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    z-index: 999;
}

#animation {
    margin-left: 10vw;
    margin-top: 5vw;
    top: 20%;
    left: 20%;
    padding: 7vw 6vw;
    position: relative;
}

.hero11 {
    top: -3%;
    left:10%;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: rgb(38, 175, 171);
    filter: blur(35px);
    position: absolute;
    animation-name: anime24;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero12 {
    top: -3%;
    left: 10%;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: rgb(37, 171, 153);
    filter: blur(30px);
    position: absolute;
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes anime {
    from {
        transform: translate(-10%, -10%) skew(0);
    }

    to {
        transform: translate(10%, 10%) skew(10dge);
    }
}

@keyframes anime24 {
    from {
        transform: translate(10%, -10%) skew(-10deg);
    }

    to {
        transform: translate(10%, -10%) skew(10dge);
    }
}


#page2-down {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    padding-left: 3vw;
    margin-bottom: 1vw;
}

.Gola {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fe330a;
    filter: blur(5px);
}

#page2-down h6 {
    font-size: 15px;
}

#page2-right {
    margin-top: 10vw;
    width: 20%;
}

#page2-right video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 3vw;
}