<div id="bottom">
    <div id="heading-part">
        <h1>
            First in India to mainstream <br />
            EVs for people mobility, we<br />
            are now making EVs more <br />
            purposeful and accessible with <br />
            a full suiteof solutions <br />
            across personal, public <br />
            and cargo transport
        </h1>

        <div id="animation">
            <div class="hero11"></div>
            <div class="hero12"></div>
        </div>
    </div>

    <div id="page2-right">
        <video src="/ourvision.mp4" loop autoplay muted></video>
        <p>
            We are making responsible choices. By prioritising sustainable
            mobility, safety, emission reduction and use of eco-friendly
            materials, we are driving meaningful change.
        </p>
    </div>
</div>

<div id="moving-text">
    <div class="con">
        <h1>Transcendent</h1>
        <div class="gola"></div>
        <h1>Timeless</h1>
        <div class="gola"></div>
        <h1>Treasure</h1>
        <div class="gola"></div>
    </div>
    <div class="con">
        <h1>Transcendent</h1>
        <div class="gola"></div>
        <h1>Timeless</h1>
        <div class="gola"></div>
        <h1>Treasure</h1>
        <div class="gola"></div>
    </div>
    <div class="con">
        <h1>Transcendent</h1>
        <div class="gola"></div>
        <h1>Timeless</h1>
        <div class="gola"></div>
        <h1>Treasure</h1>
        <div class="gola"></div>
    </div>
</div>